@font-face{
    font-family: Poppins ;
    src: url(../Poppins/Poppins-Light.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar .container{
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.navbar .container .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .row .col-4{
    width: 33.33% ;
    height: 60px;
    align-content: center;
    position: relative;
    display: inline;

    
}
.navbar .container .row .col-4 .navbar-brand{
    display: flex;
    gap: 10px;
}
.navbar .container .col-4 .navbar-brand img{
   width: 25px;
   margin-left: 20px;
}
.navbar .container .col-4 .navbar-brand h1{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: grey;
}
.navbar .container .navbar-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
   
}
.navbar .container .navbar-nav .navbar-item{
    width: 100px;
    height: 30px;
    align-content: center;
}
.navbar .container .navbar-nav .navbar-link{
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.navbar .container .navbar-nav .navbar-item:hover .navbar-link i,
.navbar .container .navbar-nav .navbar-item:hover .navbar-link {
    background-color: #f1ededd0;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
}

.navbar .container .navbar-nav .navbar-link i{
    color:#757373a5;
    font-size: 11px;
}
.navbar .container .col-4 .navbar-icons{
    display: flex;
    align-items: center;
    justify-content: right;
    /* margin-left: 150px; */
    margin-right: 30px;
    gap: 15px;
}
.navbar .container .col-4 .navbar-icons .circle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #f0f0b3;
}
.navbar .container .col-4 .navbar-icons .circle .fa-sun{
    padding: 5px;
    color: #eab83a;
}
.navbar .container .col-4 .navbar-icons .profile{
    width: 32px;
    height: 32px;
    border-radius: 100%;
   background-image: url(../image/british-shorthair-3401683_1280.jpg);
    background-position: center;
    background-size: cover;
}

.navbar .navbar-nav .dropdown{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 170px;
    border-radius: 5px;
    background-color:white;
    padding: 10px;
    display: none;
    transition: 0.8s;
    position: absolute;
    left: 75px;
    top: 55px;
   
}
.navbar .navbar-nav .dropdown .dropdown-menu{
    list-style-type: none;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    display: block;
    font-weight: bold;
}

.navbar .navbar-nav .dropdown .dropdown-item:hover {
    background-color: #f1ededfd;
    color: black;
    font-weight: bold;
}
.navbar .navbar-item:hover .dropdown{
    display: block;
}
.navbar .navbar-nav .dropdown-menu li .deep-dropdown {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 170px;
    border-radius: 5px;
    background-color:white;
    padding: 10px;
    position: absolute;
    left: 100%;
    top: 6px;
    display: none;
    font-weight: bold;
}

.navbar .navbar-nav .dropdown-menu li:hover .deep-dropdown {
    display: block;
}

.navbar .navbar-nav .dropdown-menu li .deep-dropdown li:hover a {
    background-color: gray;
}